%h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42.96px;
  text-align: left;
  text-wrap: wrap;
}

%h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-wrap: wrap;
}

%h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  text-wrap: wrap;
}

%p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
}
